@model List<Agent>
@{
    ViewData["Title"] = "Index";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Worker</h6>
        <a class="btn btn-primary" asp-controller="Agent" asp-action="Create">Yarat</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Image</th>
                        <th>FullName</th>
                        <th>Department</th>
                        <th style="text-align:center" colspan="3">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td><img src="~/imgs/agents/@item.Image" width="70" /></td>
                            <td>@item.Name</td>
                            <td>@item.Department.Name</td>
                            <td><a class="btn btn-success" asp-controller="Agent" asp-action="Info" asp-route-id="@item.Id">Info</a></td>
                            <td><a class="btn btn-success" asp-controller="Agent" asp-action="Update" asp-route-id="@item.Id">Dəyiş</a></td>
                            <td><a class="btn btn-danger" asp-controller="Agent" asp-action="Delete" asp-route-id="@item.Id">Sil</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>